includes:
	- phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src/
#        - tests/
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        - "#Conditional return type uses subject type TMaybeContained which is not part of PHPDoc @template tags#"