includes:
	- phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src/
#        - tests/
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        -
            message: "#Conditional return type uses subject type TMaybeContained which is not part of PHPDoc @template tags#"
            reportUnmatched: false
        -
            message: "#Condition \"TMaybeContained is mixed\" in conditional return type is always true.#"
            reportUnmatched: false
